<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
</head>

<body onload="initializeApp()">
  <!--<% include ../partials/nav.ejs %>-->
  <script> 
    function initializeApp() {
      $.get('/todoList',
        function callback(data, status) {
          //when the thing comes back, update the DOM. 
          if (status != 'success') {
            console.log(status);
          } else {
            // var result = data.result;
            // console.log("todo list data came back");
            var result = data.result;
            //update DOM.

            $('#list').html("");
            $.each(result, function(i, item) {
              var checkIt = 'unchecked';
              var is_done = 'not_done';

              if (result[i].is_done) {
                is_done = 'is_done';
                checkIt = 'checked';
              }

              var taskID = result[i].id;
              var taskName = result[i].task;

              var input_id = result[i].id + result[i].task;
              var input_id = input_id.replace(/(?!\w|\s)./g, '');

              //console.log(input_id);
              //$('#list').append('<input class="' +is_done+ '" type="radio" name="taskList" value="' +result[i].id+ '">' +result[i].task+ '</input><br/>');
              $('#list').append('<div class="' +is_done+ '">' +
                                '<label class="custom-control custom-checkbox my-label">' +
                                '<input type="checkbox" class="custom-control-input" onchange="setDone(this, ' +taskID+ ');" ' +checkIt+ '>' +
                                '<span class="custom-control-indicator"></span>' +
                                '</label>' +
                                '<input type="text" id="' +input_id+ '" class="' +is_done+ '" value="' +taskName+ '"' +
                                  'onchange="updateTask(' +taskID+ ', \'#' +input_id+ '\')">' +
                                //'<button onclick="setDone(' +taskID+ ')">Done</button>' +
                                '<button type="button" class="close" onclick="deleteTask(' +taskID+ ')" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                                '</div>');
              //console.log(result[i].id);
              //console.log(result[i].task);
              $('#forNotDone').attr('class', is_done);
              //console.log(is_done);
            })
            $('#list').append('<div><input type="text" id="taskName" class="custom-control-input" onchange="createTask()"></label></div>');
          }
        });
    }

    function handleLogin() {
      var username = $("#username").val();
	    var password = $("#password").val();
      
      var params = {
		    username: username,
		    password: password
	    };
    }

    function createTask() {
      if ($('#taskName').val() == '') {
        alert("Enter a task");
      } else {
        $.post('/createTask',
        {
          'task': $('input[name=task]').val(),
          //'taskList': $('input[name=taskList]:checked').val()
        },
        function callback(data, status) {
          //when the thing comes back, update the DOM. 
          if (status != 'success') {
            console.log(status);
          } else {
            //console.log("create task data came back");
            var result = data.result;
            //update DOM.
            initializeApp();
            $('#taskName').val("");
          }
        });
      }
    }

    function setDone(checkbox, id) {
      var is_done = false;
      if (checkbox.checked == true) {
        is_done = true;
      }

      //console.log(is_done);

      $.ajax({
        url: '/setDone',
        type: 'PUT',
        data: {
          'id': id,
          'is_done': is_done
        },
        json: true,
        success: function callback(data, status) { 
          if (status != 'success') {
            console.log(status);
          } else {
            initializeApp();
          }
        }});
    }

    function updateTask(id, input_id) {
      //var taskList = $('input[name=taskList]:checked').val();
      var taskName = $(input_id).val();

      //console.log(data.taskList);
      //console.log(taskName);
      //console.log(id);

      $.ajax({
        url: '/updateTask',
        type: 'PUT',
        data: {
          'taskName': taskName,
          //'taskList': taskList,
          'id': id
        },
        json: true,
        success: function callback(data, status) { 
          if (status != 'success') {
            console.log(status);
          } else {
            //console.log("data came back");
            var result = data.result;
            //update DOM.
            initializeApp();
            $('#taskName').val("");
          }
      }});
    }

    function deleteTask(id) {
      var taskList = $('input[name=taskList]:checked').val();

      //console.log(taskList);

      $.ajax({
        url: '/deleteTask',
        type: 'DELETE',
        data: {
          'id': id,
          //'taskList': taskList
        },
        json: true,
        success: function callback(data, status) { 
          if (status != 'success') {
            console.log(status);
          } else {
            //console.log("data came back");
            var result = data.result;
            //update DOM.
            initializeApp();
          }
      }});
    }
  </script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <div class="container">
    <h1>To Do List</h1>
    <form action"createTask()">
      <input id="taskName" type="text" name="task">
      <button onclick="createTask()">Create Task</button>
      <br/><br/>
      <label for="order">Order By</label><br/>
      <input type="radio" name="order" value="ASC" checked>Newest First<br/>
      <input type="radio" name="order" value="DESC" onchange="initializeApp()">Oldest First
    </form>
    <!--
    <button onclick="initializeApp()">Get To Do List</button>
    <button onclick="updateTask()">Update Task</button>
    <button onclick="deleteTask()">Delete Task</button>
    -->

    

    <hr>

    <div id="list"></div>
 </div>
 
</body>
</html>