<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
</head>

<body onload="initializeApp()">
  
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <div class="container">
    <h1>To Do List</h1>
    <form action"createTask()">
      <br/>
      <label for="order">Order By</label><br/>
      <input type="radio" name="order" value="DESC" onchange="initializeApp()" checked> Newest First<br/>
      <input type="radio" name="order" value="ASC" onchange="initializeApp()"> Oldest First<br><br>
      <input type="checkbox" name="hide_done" id="hide_done" onchange="initializeApp()" checked> Hide Completed Tasks
    </form>
    <hr>
    <div class="col-lg-6 alert alert-info">
        <div class="input-group">
            <input type="text" id="taskName" name="task" class="form-control my-label" aria-label="Text input with checkbox" placeholder="New Task" onchange="createTask()">
        </div>
    </div>
    <div id="list"></div>
 </div>
 
</body>
</html>