<!DOCTYPE html>
<html>
<head>
  <!--<% include ../partials/header.ejs %>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body onload="initializeApp()">
  <!--<% include ../partials/nav.ejs %>-->
  <script> 
    function initializeApp() {
      $.get('/todoList',
        function callback(data, status) {
          //when the thing comes back, update the DOM. 
          if (status != 'success') {
            console.log(status);
          } else {
            // var result = data.result;
            console.log("todo list data came back");
            var result = data.result;
            //update DOM.
            $('#list').html("");
            $.each(result, function(i, item) {
              $('#list').append('<input type="radio" name="taskList" value="' +result[i].id+ '">' +result[i].task+ '</input><br/>');
              console.log(result[i].id);
              console.log(result[i].task);
            })
            //$('#list').html(result[0].task);
          }
        });
    }

    function handleLogin() {
      var username = $("#username").val();
	    var password = $("#password").val();
      
      var params = {
		    username: username,
		    password: password
	    };
    }

    function createTask() {
      $.post('/createTask',
        {
          'task': $('input[name=task]').val(),
          //'taskList': $('input[name=taskList]:checked').val()
        },
        function callback(data, status) {
          //when the thing comes back, update the DOM. 
          if (status != 'success') {
            console.log(status);
          } else {
            console.log("create task data came back");
            var result = data.result;
            //update DOM.
            initializeApp();
          }
        });
    }

    function updateTask() {
      var taskList = $('input[name=taskList]:checked').val();
      var taskName = $('input[name=task]').val();

      var data = {
        'taskList': $('input[name=taskList]:checked').val()
      };

      console.log(data.taskList);
      console.log(taskName);

      $.ajax({
        url: '/updateTask',
        type: 'PUT',
        data: {
          'taskName': taskName,
          'taskList': taskList
        },
        json: true,
        success: function callback(data, status) { 
          if (status != 'success') {
            console.log(status);
          } else {
            console.log("data came back");
            var result = data.result;
            //update DOM.
            initializeApp();
            $('#taskName').val("");
          }
      }});
    }

    function deleteTask() {
      var taskList = $('input[name=taskList]:checked').val();

      console.log(taskList);

      $.ajax({
        url: '/deleteTask',
        type: 'DELETE',
        data: {
          'taskList': taskList
        },
        json: true,
        success: function callback(data, status) { 
          if (status != 'success') {
            console.log(status);
          } else {
            console.log("data came back");
            var result = data.result;
            //update DOM.
            initializeApp();
          }
      }});
    }
  </script>
  <div id="list"></div>
  <div class="container">
    <h1>To Do List</h1>
    <form action="/createTask" method="POST">
      <label for="task">Task</label>
      <input id="taskName" type="text" name="task">

      <label for="done">Is Done</label>
      <input type="checkbox" name="done" value="is_done"><br/>

      <input type="submit" name="submit">
    </form>
    <button onclick="initializeApp()">Get To Do List</button>
    <button onclick="createTask()">Create Task</button>
    <button onclick="updateTask()">Update Task</button>
    <button onclick="deleteTask()">Delete Task</button>
    
    <p id="package"></p>
    <p id="task"></p>
 </div>
</body>
</html>